.modal__close-button-icon {
  width: 40px;
}

.modal__close-button_icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .modal__close-button_icon {
    width: 26px;
  }
}
/*








*/
/* .edit__close-button_icon {
  position: fixed;
  width: 40px;
  top: 50%;
  left: 50%;
  margin-top: -205px;
  margin-left: 213px;
}
.edit__close-button_icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

 */
