.profile__edit-button {
  background: none;
  width: 24px;
  height: 24px;
  margin: 0;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 18px;
  position: relative;
}
.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
