.profile__text {
  margin: auto 18px auto 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 640px) {
  .profile__text {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 330px) {
  .profile__text {
    margin: 0;
  }
}
