.page {
  background-color: #000;
  color: #fff;
  font-family: "Inter";
}
/* div,
p,
h1,
h2,
h3,
h4,
img,
section,
main,
header,
a {
  border: 1px solid red;
} */
.header {
  display: flex;
  max-width: 880px;
  margin: 45px auto 0 auto;
}
.header__svg {
  max-width: 173px;
  min-height: 33px;
}
.content {
  margin-top: 41px;
}
.content__line {
  height: 0px;
  max-width: 880px;
  border: 1px solid #545454;
  margin: 0 auto;
  margin-bottom: 40px;
}
.profile {
  display: flex;
  max-width: 880px;
  margin: auto;
  position: relative;
  margin-bottom: 46.25px;
}
.profile__pic {
  border-radius: 50%;
  max-width: 120px;
  min-height: 120px;
}
.profile__text {
  margin: auto 18px auto 30px;
}
.profile__main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.profile__main_name {
  margin: 0 auto;
  font-size: 42px;
  height: 39px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.profile__edit {
  width: 24px;
  height: 24px;
  margin: 0;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 18px;
}
.profile__edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__edit_svg {
  width: 10px;
  height: 10px;
}

.profile__text_explorer {
  padding: 0;
  margin-top: 16px;
  font-family: "Inter", sans-serif;
  line-height: 21.78px;
  font-size: 18px;
  font-weight: 400;
}

.profile__add {
  position: absolute;
  right: 0;
  top: 50%;
  bottom: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border: 1px solid white;
  margin: auto 0;
}
.profile__add:hover {
  opacity: 0.6;
  cursor: pointer;
}
.profile__plus {
  width: 22px;
  height: 22px;
}

.edit__background {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  opacity: 0.5;
}
.edit__close-icon {
  position: fixed;
  width: 40px;
  top: 50%;
  left: 50%;
  margin-top: -210px;
  margin-left: 215px;
}
.edit__close-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}
.edit {
  display: none;
}
.edit__box {
  box-sizing: border-box;
  padding: 34px 36px 36px;
  border-radius: 10px;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -165px;
  margin-left: -215px;
  background-color: white;
  color: black;
  max-width: 430px;
  min-height: 330px;
}
.edit__profile {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 24px;
}
.edit__name {
  border: none;
  margin-top: 54px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}
.edit__title {
  border: none;
  margin-top: 29.74px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}
.edit__line {
  max-width: 358px;
  border: 1px solid black;
  opacity: 0.2;
  margin-top: 13.34px;
}
.edit__save {
  margin-top: 43px;
  width: 358px;
  background-color: black;
  color: white;
  min-height: 50.15px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  border-radius: 2px;
}
.edit__save:hover {
  opacity: 0.8;
}
.gallery {
  margin: 0 auto;
  max-width: 880px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 17px;
  row-gap: 21px;
}
.gallery__item {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  max-height: 361px;
  max-width: 282px;
}
.gallery__image {
  max-width: 282px;
  min-height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.gallery__text {
  display: flex;
  align-items: center;
}

.gallery__place {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  line-height: 29.05px;
  font-size: 24px;
  margin-left: 21px;
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 222px;
}
.gallery__icon {
  position: absolute;
  right: 18px;
  width: 21px;
  height: 19px;
}
.gallery__icon:hover {
  opacity: 0.5;
}
.gallery__icon:active {
  background-image: url("images/black-heart.svg");
  opacity: 1;
}

.footer {
  margin: 0 auto;
  max-width: 880px;
}
.copyright {
  color: #545454;
  margin-top: 67px;
  margin-bottom: 60px;
}

@media screen and (max-width: 955px) {
  .page {
    margin-left: 27px;
    margin-right: 27px;
  }
  .gallery {
    max-width: 581px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .gallery__image {
    max-width: auto;
  }
  .gallery__item {
    max-width: auto;
  }
  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 800px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
  .profile__text_explorer {
    text-align: center;
    margin-bottom: 36px;
    line-height: 16.94px;
    font-size: 14px;
  }

  .profile__add {
    max-width: 581px;
    position: static;
    width: 95vw;
    margin: 0 19px 0 19px;
  }
  .profile__main_name {
    max-height: 22px;
    margin-top: 30px;
    font-size: 22px;
    line-height: 26.63px;
  }
}

@media screen and (max-width: 640px) {
  .header__svg {
    max-width: 126px;
    min-height: 24px;
  }
  .page {
    margin-left: 19px;
    margin-right: 19px;
  }
  .gallery {
    max-width: 282px;
    grid-template-columns: 282px;
    grid-template-rows: repeat(6, 1fr);
  }
  .footer {
    max-width: 282px;
  }
  .copyright {
    margin-top: 50px;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 330px) {
  .profile__text {
    margin: 0;
  }
}
