.profile__pic-button {
  background-image: url(../../../images/arrow__svg.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  position: absolute;
  left: 47px;
  top: 47px;
  width: 26px;
  height: 26px;
  opacity: 0;
  z-index: 2;
}
.profile__pic:hover + .profile__pic-button {
  opacity: 100;
}
