.modal__box {
  box-sizing: border-box;
  padding: 34px 36px 36px;
  border-radius: 10px;
  background-color: white;
  margin: auto;
  opacity: 1;
  color: black;
  max-width: 430px;
}

@media screen and (max-width: 480px) {
  .modal__box {
    margin: auto 19px;
    padding-left: 22px;
    padding-right: 22px;
  }
}
