.modal__save {
  margin-top: 48px;
  width: 358px;
  background-color: black;
  color: white;
  min-height: 50.15px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  border-radius: 2px;
}
.modal__save:hover {
  opacity: 0.8;
}
@media screen and (max-width: 480px) {
  .modal__save {
    width: 70vw;
    margin-right: 22px;
  }
}
