.profile__text-job {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  font-family: "Inter", sans-serif;
  line-height: 21.78px;
  font-size: 18px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 375px;
  align-self: flex-start;
}
@media screen and (max-width: 800px) {
  .profile__text-job {
    text-align: center;
    line-height: 16.94px;
    font-size: 14px;
    max-width: 250px;
    align-self: center;
  }
}
