.footer__copyright {
  color: #545454;
  margin-top: 67px;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 955px) {
  .footer__copyright {
    max-width: 581px;
    margin: 50px auto 36px auto;
  }
}

@media screen and (max-width: 600px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 16.94px;
  }
}
