.footer__copyright {
  color: #545454;
  margin-top: 67px;
  margin-bottom: 60px;
}

@media screen and (max-width: 955px) {
  .footer__copyright {
    max-width: 581px;
    margin: 50px auto 36px auto;
  }
}
