.profile__add {
  background: none;
  position: relative;
  width: 150px;
  height: 50px;
  border: 1px solid white;
  margin: auto 0;
}
.profile__add:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .profile__add {
    max-width: 581px;
    position: static;
    width: 95vw;
    margin: 0 19px 0 19px;
  }
}
