.profile__title-name {
  margin: 0 auto;
  font-size: 42px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 375px;
  margin-top: 0;
}
@media screen and (max-width: 800px) {
  .profile__title-name {
    font-size: 22px;
    line-height: 26.63px;
    text-align: center;
    max-width: 250px;
  }
}
