.image__close-button {
  background-image: url(../../../images/Close-Icon-svg.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
}
.image__close-button:hover {
  opacity: 0.6;
}
