.gallery__like-button_icon {
  width: 21px;
}
.gallery__like-button_icon:hover {
  opacity: 0.5;
}
.gallery__like-button_icon:active {
  background-image: url("../../../images/black-heart.svg");
  opacity: 1;
}
